:root {
    --error: #EF4444;
    --primary: #22C55E;
    --primary-hover: rgba(34, 197, 94, .2);
    --muted: #CFCFCF;
    --text-dark: #1C1C1E;
    --text-light: #F5F5F7;
}

.border-error {
    border-color: var(--error) !important;
}

.form-wrapper{
    padding: 0 20px;
}

.helpertext {
    font-size: 10px;
    font-weight: 500;
    text-align: left;
    color: var(--error);
}

.content {
    margin: auto;
    box-sizing: border-box;
}

.textfield {
    margin: 8px auto;
}

.textfield>.wrapper {
    width: 100%;
    display: inline-flex;
    gap: 0.25rem;
    border-radius: 4px;
    background-color: #FAFAFB;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: #CFCFCF;
    color: #1C1C1E;
    align-items: center;
}

.textfield>.wrapper:focus-within {
    border-bottom-width: 2px;
    border-color: #4ADE80;
    border-style: solid;
}

.textfield>.wrapper:focus-visible {
    outline: none;
}

.textfield input {
    width: 100%;
    text-align: left;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: transparent;
}

.textfield input:focus-visible {
    outline: none;
}

.textfield.content-texfield {
    margin: auto;
    box-sizing: border-box;
}


/* === file upload === */
.file-upload {
    position: relative;
    display: flex;
    width: 100%;
    height: 200px;
    border: 1px dashed var(--primary);
    align-items: center;
    justify-content: center;
}

.file-upload span {
    cursor: pointer;
}

.file-upload input {
    display: none;
}

.file-upload .preview {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(207, 207, 207, .5);
}

.file-upload .preview div {
    position: absolute;
    padding: 2px;
    inset: 0;
    margin: auto;
    width: 100px;
    height: 120px;
    background-color: white;
}

.file-upload .preview .preview-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.file-upload .preview .close-preview {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    padding: 2px;
    color: var(--error);
}


/* ==== textarea === */
.textfield-area {
    position: relative;
    width: 100%;
    padding-bottom: 5px;
}

.textfield-area span {
    display: inline-flex;
    border-width: 1px;
    border-style: solid;
    border-color: #CFCFCF;
    border-radius: 4px;
    padding: 4px;
}

.textfield-area span:focus-within {
    border-bottom-width: 2px;
    border-color: #4ADE80;
    border-style: solid;
}

.textfield-area span:focus-visible {
    outline: none;
}

.textfield-area textarea {
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.textfield-area textarea:focus-visible {
    outline: none;
}

/* ===== Select Option ===== */
.select-option {
    margin: 8px auto;
}

.select-option .select-wrapper {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--muted);
    align-items: center;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 8px;
}

.select-option .select-wrapper:focus-within {
    border-bottom-width: 2px;
    border-color: var(--primary);
}

.select-option .select-wrapper:focus-visible {
    outline: none;
}

.select-option select {
    border: none;
    border-radius: 6px;
    height: 32px;
    width: 100%;
    flex-grow: 1;
    cursor: pointer;
    appearance: none;
    padding-left: 4px;
    padding-right: 4px;
}

.select-option select:focus-visible {
    outline: none;
}

.select-option .arrow-select {
    pointer-events: none;
    display: block;
    position: absolute;
    right: 8px;
}


/* ===== Autocomplete ===== */
.autocomplete {
    position: relative;
    margin: 8px auto;
}

.autocomplete .autocomplete-wrapper {
    display: inline-flex;
    gap: 4px;
    border-radius: 4px;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    background-color: #FAFAFB;
    border-color: var(--muted);
    padding: 4px 8px;
}

.autocomplete .autocomplete-wrapper:focus-within {
    border-bottom-width: 2px;
    border-color: var(--primary);
}

.autocomplete .autocomplete-wrapper:focus-visible {
    outline: none;
}

.autocomplete input {
    border: none;
    background-color: #FAFAFB;
}

.autocomplete input:focus-visible {
    outline: none;
}

.autocomplete .autocomplete-option {
    position: absolute;
    z-index: 99;
    left: 0;
    top: 100%;
    max-height: 200px;
    width: 100%;
    overflow: auto;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.autocomplete-option button {
    width: 100%;
    text-align: left;
    border: none;
}

.autocomplete-option ul {
    margin-block-start: 0;
    padding-inline-start: 0;
}

.autocomplete-option ul li {
    cursor: pointer;
    padding: 8px 20px;
    list-style-type: none;
}

.autocomplete-option ul li:hover {
    background-color: var(--muted);
}