#root {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}

:root {
  --primary: #22C55E;
  --primary-hover: rgba(34, 197, 94, .2);
  --muted: #CFCFCF;
  --text-dark: #1C1C1E;
  --text-light: #F5F5F7;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* container */
.container {
  background-color: #FFFFFF;
  width: 600px;
  min-height: 100vh;
  display: flex;
  padding: 2rem;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.wrapper {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 8px;
}

.spinner {
  position: absolute;
  border: 3px solid rgba(34, 197, 94, .3);
  border-left-color: var(--primary);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}